extends ../includes/layout.pug

block head
  title Flowkit Usage

  body.fk-no-title
    .fk-container
      - var headerTitle = "Usage";
      include ../includes/header-interior.pug

      section.fk-main
        .fk-container-content.fk-container-content--body


          h3 Installation
          p.fk-intro Flowkit is available in both Sketch and Figma formats. Each format was created natively, leveraging unique features from each platform. Because of this, installing the library is quite simple and no additional software is required.

          img(src="../assets/img/usage/files.svg" alt="figma and sketch file format icons")

          h4.fk-header-figma#installing-in-figma Installing in Figma
          p Figma requires users to have a paid Team account to create and access Figma Libraries. Therefore, to use Flowkit as a shared library between users and files, you and your team will need to have a paid Figma Team account.

          img(src="../assets/img/usage/overview-figma.png" alt="bird's eye view of flowkit components in figma")

          ul
            li Open <code>flowkit-v2.fig</code> with Figma.
            li Click the book icon in the top right to access <code>Libraries</code>.
            li Navigate to the <code>Flowkit 2.0</code> line item and click <code>Publish</code>.
            li Create a Team project called Flowkit and click <code>Move</code>.
            li Flowkit will now be available as a library across all Team projects.
            li For more info on Figma libraries, <a href="https://help.figma.com/editor/team-library">read Figma's documentation</a>.
            li Please make sure you have the appropriate Flowkit Team license to share the library with your design team. Have a personal license and need to upgrade? <a href="http://twitter.com/mds">Let me know</a> and I'll hook you up with an upgrade coupon code.

          blockquote
            h5 Free Figma Accounts
            p If you have a free Figma account, it is recommended that you create userflows as additional pages  inside of the Flowkit file in order to leverage the assets as components.

          h4.fk-header-sketch#installing-in-figma Installing in Sketch
          p Installing the Flowkit Libary will make it available for use with all of your Sketch files.

          img(src="../assets/img/usage/overview-sketch.png" alt="bird's eye view of flowkit components in sketch")

          ul
            li Open Sketch preferences, navigate to the <code>Libraries</code> tab.
            li Choose <code>Add Library...</code> in the bottom left.
            li Select <code>flowkit-v2.sketch</code> and click <code>Open</code>
            li Now you're ready to use Flowkit 2.0 in any Sketch 52+ document.

          blockquote
            h5 Sketch Runner + Flowkit
            p Using Flowkit with Sketch Runner is highly recommended. You can download the free Sketch Runner plugin, <a href="http://sketchrunner.com">here</a>. Sketch Runner will allow you to use keyboard commands to insert Flowkit library symbols onto your canvas. Use <code>⌘ "</code> to open Sketch Runner, then type in the easy-to-remember™ Flowkit naming convention <code>Type / Direction 1 / Modifier 1 / Direction 2 / Modifier 2</code> to place the symbol you want.

            p <a href="https://github.com/mds/sketch-shortcuts">Download this free shortcut plugin</a> to use Flowkit even faster.

          h3 Creating High-level Flows
          p.fk-intro Every main component inside of Flowkit is based on a 360x360 grid. Each one was designed to have 0px of margin on all sides when linking blocks and flows.

          img(src="../assets/img/usage/high-level.gif" alt="360 pixel grid with blocks and flows fitting together nicely")

          p It is recommend to create one high-level flow focused on one particular section or feature of your project, per large artboard that can later be shared or exported.

          h4.fk-header-figma#high-level-flows-in-figma High-level flows in Figma
          ul
            li Press <code>⌥2</code> or click the components icon in the lower left, to access Flowkit in the Components panel.
            li At the top of the Components panel, search for <code>block default</code>, choose a block component and place it on the canvas.
            li Now search for <code>flow right</code>, choose a flow component and place it on the canvas.
            li Continue adding components by searching and navigating the component list, as necessary.

          h4.fk-header-sketch#high-level-flows-in-sketch High-level flows in Sketch
          ul
            li Use <code>⌘ "</code> to open Sketch Runner.
            li Type <code>block default</code> and hit <code>return</code>.
            li Use <code>⌘ "</code> again, and type <code>flow right straight</code>.
            li Continue adding components with Sketch Runner, or by navigating the Flowkit symbol list from the Sketch app toolbar.

          h3 Screen to Screen Flows
          p.fk-intro <strong>Do not</strong> place the Flowkit components on top of artboards or frames and try to connect them to other artboards or frames. This will result in clipped components and unhappy Flowkit users. ☹️

          img(src="../assets/img/usage/screen-flow-incorrect.gif" alt="flow components getting clipped by artboards")

          p <strong>Do</strong> place the Flowkit components on top of artboard instances on one giant artboard. This is the recommended screen flow technique when using Flowkit.

          img(src="../assets/img/usage/screen-flow-correct.gif" alt="flow components not getting clipped by artboards")

          p There are two distinct ways to create screen flows in both Figma and Sketch—dynamic screens and exported screens.

          h4.fk-header-figma#screen-flows-in-figma Screen flows in Figma
          ul
            h5 Dynamic Screens (recommended)
            li Select a frame and press <code>⌘⌥K</code> to convert to a component
            li Copy and paste an instance of your frame component onto a larger frame to begin building your flow.
            li With your first frame instance in place, navigate to the component panel with <code>⌥2</code> and search for <code>tap right</code>.
            li Rinse and repeat as necessary.
            li Any adjustments made to your master frames will be reflected in your flow frame automatically.
            li Don't forget to reposition your flow components if you refactor your designs.
          ul
            h5 Exported Screens (alternate)
            li This is a quick way to create a flow when dynamic screens don't matter.
            li Right click any frame and choose <code>Copy as > Copy as PNG</code>.
            li Paste the bitmap onto your large flow frame.
            li Press <code>⌥2</code> or click the components icon in the lower left, to access Flowkit in the Components panel.
            li Search for <code>tap right straight</code> and place the flow component on your large flow frame.
            li Rinse and repeat as necessary.

          h4.fk-header-sketch#screen-flows-in-sketch Screen flows in Sketch
          ul
            h5 Dynamic Screens with Plugins
            li Install either the free <a href="https://github.com/MengTo/Angle-Sketch-Plugin">Angle</a> or <a href="https://magicsketch.io/mirror/">Magic Mirror</a> plugin.
            li Create a large artboard to contain your screen flows.
            li Draw a rectangle the same size as the first artboard you'd like to use.
            li Apply the Magic Mirror or Angle plugin to the rectangle, to mirror your artboard. Please refer to the plugin documentation for more details on this.
            li Use Sketch Runner <code>⌘"</code> and search <code>tap right straight</code> to place your first flow symbol.
            li Rinse and repeat as necessary.
          ul
            h5 Dynamic Screens with Symbols
            li Convert your artboards to symbols.
            li Create a large artboard to contain your screen flows.
            li Place the symbol instance of your artboard onto the large artboard.
            li Use Sketch Runner <code>⌘"</code> and search <code>tap right straight</code> to place your first flow symbol.
            li Rinse and repeat as necessary.
          ul
            h5 Exported Static Screens
            li Select an artboard and choose <code>Make Exportable</code> in the bottom right of the inspector panel
            li Use Sketch Runner <code>⌘"</code> and search <code>tap right straight</code> to place your first flow symbol.
            li Rinse and repeat as necessary.


          h3 Overrides
          p.fk-intro Whether you're building complex flows or changing interactions on tap components, Flowkit comes with lots of prebuilt override capabilities.

          h4 Linking flow components
          p There are times when linking multiple flow components together is necessary to give you just the crazy line you want in your document. You can achieve the appearance of a continuous line by simply hiding the nested endcaps.
          h5.fk-header-figma Figma
          img(src="../assets/img/usage/complex-flow-figma.gif" alt="linking multiple flow components together to create one large crazy line in figma")
          h5.fk-header-sketch Sketch
          img(src="../assets/img/usage/complex-flow-sketch.gif" alt="linking multiple flow components together to create one large crazy line in sketch")


          h4 Changing tap interactions
          p The default interaction for screen flows is tap, but it can easily be overriden with <code>double tap</code>, <code>swipe (up, down, left, right)</code>, and <code>long press</code>.
          h5.fk-header-figma Figma
          img(src="../assets/img/usage/tap-override-figma.gif" alt="creating a screenflow in figma")
          h5.fk-header-sketch Sketch
          img(src="../assets/img/usage/tap-override-sketch.gif" alt="creating a screenflow in sketch")



          h4 Still have questions?
          p I'd be happy to help you out! <a href="http://twitter.com/mds">Tweet me</a> or shoot an email to <code>matt at mds dot is</code>



      include ../includes/foot.pug

      //- Drip
      script(type='text/javascript').
        var _dcq = _dcq || [];
        var _dcs = _dcs || {};
        _dcs.account = '7684207';
        (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript'; dc.async = true;
        dc.src = '//tag.getdrip.com/7684207.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
        })();

      //- Go Squared
      script.
        !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
        arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
        d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
        insertBefore(d,q)}(window,document,'script','_gs');
        _gs('GSN-965741-P');
