section.fk-endpoints

	h2
		strong Intelligently-named
		|	components and file structure
	include carousel.pug
	
	//- .fk-flow-demo
	//- 	.fk-flow-demo-container.fk-flow-demo-container-large
	//- 		.fk-flow-demo-piece.fk-flow-demo-device
	//- 			img(alt='flow demo device', src='assets/img/flow-device.svg')
	//- 		.fk-flow-demo-piece1.fk-flow-demo-flow.fk-flow-demo-flow1
	//- 			a.fk-flow-demo-hit.fk-flow-demo-hit1.fk-flow-demo-hit--is-active
	//- 			.fk-flow-piece-container
	//- 				img(alt='flow demo 1', src='assets/img/flow1-large.svg')
	//- 		.fk-flow-demo-piece2.fk-flow-demo-flow.fk-faded.fk-flow-demo-flow2
	//- 			a.fk-flow-demo-hit.fk-flow-demo-hit2.fk-is-pulsing
	//- 			.fk-flow-piece-container
	//- 				img(alt='flow demo 2', src='assets/img/flow2-large.svg')
	//- 		.fk-flow-demo-piece3.fk-flow-demo-flow.fk-faded.fk-flow-demo-flow3
	//- 			a.fk-flow-demo-hit.fk-flow-demo-hit3.fk-is-pulsing
	//- 			.fk-flow-piece-container
	//- 				img(alt='flow demo 3', src='assets/img/flow3-large.svg')
	//- 	.fk-flow-demo-container.fk-flow-demo-container-small
	//- 		.fk-flow-demo-piece.fk-flow-demo-device
	//- 			img(alt='flow demo device', src='assets/img/flow-device.svg')
	//- 		.fk-flow-demo-piece1.fk-flow-demo-flow.fk-flow-demo-flow1
	//- 			a.fk-flow-demo-hit.fk-flow-demo-hit1.fk-flow-demo-hit--is-active
	//- 			.fk-flow-piece-container
	//- 				img(alt='flow demo 1', src='assets/img/flow1-small.svg')
	//- 		.fk-flow-demo-piece2.fk-flow-demo-flow.fk-faded.fk-flow-demo-flow2
	//- 			a.fk-flow-demo-hit.fk-flow-demo-hit2.fk-is-pulsing
	//- 			.fk-flow-piece-container
	//- 				img(alt='flow demo 2', src='assets/img/flow2-small.svg')
	//- 		.fk-flow-demo-piece3.fk-flow-demo-flow.fk-faded.fk-flow-demo-flow3
	//- 			a.fk-flow-demo-hit.fk-flow-demo-hit3.fk-is-pulsing
	//- 			.fk-flow-piece-container
	//- 				img(alt='flow demo 3', src='assets/img/flow3-small.svg')
	//- .fk-colorblock.fk-colorblock--mustard