section.fk-figma-plugin
	.fk-figma-plugin-content
		h2 New <strong>Figma</strong> Plugin
		p Flowkit’s been supercharged inside of Figma. All of the components can now be dynamically placed for an even faster workflow. <a href="/figma">Watch a demo</a>.
		img(src="assets/img/block-example.svg" alt="component block screenshots")

	.fk-figma-plugin-group
		img(src="assets/img/figma-plugin.svg" alt="screenshot of flowkit plugin for figma")