section.fk-flows
	.fk-container-content
		//- h2 <strong>Perfect</strong> for presentations, annotations, and documentation.
	.fk-flow-example.fk-flow-example-small
		.fk-flow-example-flows
			img.svg(alt='flows', src='assets/img/flow-devices-flows-small.svg')
		.fk-flow-example-devices
			img(alt='devices', src='assets/img/flow-devices-small.png')
	.fk-flow-example.fk-flow-example-large
		.fk-flow-example-flows
			img.svg(alt='flows', src='assets/img/flow-devices-flows-large.svg')
		.fk-flow-example-devices
			img(alt='devices', src='assets/img/flow-devices-large.png')
	.fk-colorblock.fk-colorblock--red