footer
  p.fk-footer
    <span class="copyright"> ©</span>. Studio MDS, LLC
  p.fk-footer.fk-footer--links
    a(href='/usage') Usage
    a(href='/updates') Updates
    a(href='/affiliate') Affiliates
    a(href='/license') License
    //- a(href='http://twitter.com/mds') More Questions?
