footer
  p.fk-footer
    <span class="copyright"> ©</span> <a href='http://mds.is'>MDS</a>
  p.fk-footer.fk-footer--links
    a(href='http://twitter.com/mds') Questions?
    a(href='/updates') Updates
    a(href='/affiliate') Affiliates
    a(href='/eula') EULA
