footer
	p.fk-footer
		a(href="https://twitter.com/mds")
			img.fk-mds(src="/assets/img/mds.png" alt="headshot of mds")
		<span class="copyright"> ©</span> • <a href="https://twitter.com/mds">MDS</a>
	p.fk-footer.fk-footer--links
		<a href="/usage">Usage</a>
		<a href="/updates">Updates</a>
		<a href="/affiliate">Affiliates</a>
		<a href="/license">License</a>
		<a href="/education">Education</a>
		<a href="/support">Support</a>