header.header-interior
  .fk-header-wrapper
    .fk-top-left
      a(href="/")
        img(alt='flowkit icon', src='/assets/img/logo-flowkit.png')
        h1 Flowkit
    .fk-logo
      p &nbsp;
    .fk-cta-group
      .fk-cta-group-container
        a.fk-cta.fk-cta-primary(href='/#buy') Buy
