header.header-interior
	.fk-header-wrapper
		.fk-top-left
			a(href="/")
				img.fk-flowkit-icon(alt='flowkit icon', src='/assets/img/logo-flowkit.svg')
		.fk-logo
			h1: a(href="#") #{headerTitle}
		.fk-cta-group
			.fk-cta-group-container
				a.fk-cta.fk-cta-primary(href='/#buy') Buy
