header
  .fk-header-wrapper
    .fk-top-left
      img(alt='sketch icon', src='/assets/img/icon-sketch.svg')
      img(alt='figma icon', src='/assets/img/icon-figma.svg')
      p.fk-small
        span.is-hidden Built for Sketch &amp; Figma
    .fk-logo
      h1 Flowkit 2.0
      a(href="/updates") What's New?
    .fk-cta-group
      .fk-cta-group-container
        a.fk-cta.fk-cta-primary(href='#buy') Buy
