header
  .fk-header-wrapper
    .fk-top-left
      img(alt='sketch icon', src='/assets/img/icon-sketch.svg')
      img(alt='figma icon', src='/assets/img/icon-figma.svg')
      img(alt='xd icon', src='/assets/img/icon-xd.svg')
    .fk-logo
      h1: a(href="#") Flowkit 
        //- span 3.0
    .fk-cta-group
      .fk-cta-group-container
        a.fk-cta.fk-cta-primary(href='#buy') Buy
