header
  .fk-top-left
    img(alt='sketch icon', src='/assets/img/sketch.svg')
    img(alt='sketch icon', src='/assets/img/logo-figma.svg')
    p.fk-small
      span.is-hidden Built for Sketch &amp; Figma
  .fk-logo
    h1 Flowkit 2.0
  .fk-cta-group
    .fk-cta-group-container
      a.fk-cta.fk-cta-primary(href='#buy') Buy
