header.header-interior
  .fk-header-wrapper
    .fk-top-left
      a(href="/")
        img(alt='flowkit icon', src='/assets/img/logo-flowkit.png')
    .fk-logo
        h1 #{headerTitle}
    .fk-cta-group
      .fk-cta-group-container
        a.fk-cta.fk-cta-primary(href='/?buy=true') Buy
