section#buy.fk-decision
  .fk-container-content
    h2
      strong Finely-tuned components
      |  to supercharge your flows. Perfect for individuals and teams.
    .fk-body-text
      p.centered.fk-note Upon purchase you'll receive a link to download a <code>.zip</code> file containing both <code>flowkit-2.0.fig</code> and <code>flowkit-2.0.sketch</code> libraries that you can put to work on your projects immediately. ⚡️
    .fk-tiers#tiers

      .fk-price-block.fk-price-block--tiny
        h3
          strong Tiny
        .fk-price-sub
          img.fk-icon-check.svg(src='assets/img/icon-check.svg', alt='check icon')
          h4 $29 for 1 user
        p Unlimited personal and commercial projects for 1 user.
        a.fk-price-cta(href='https://transactions.sendowl.com/products/77819369/5D65B594/purchase', rel='nofollow') Buy $29

      .fk-price-block.fk-price-block--pro
        h3
          strong Pro
        .fk-price-sub
          img.fk-icon-check.svg(src='assets/img/icon-check.svg', alt='check icon')
          h4 $49 for 1 user
        p Unlimited personal and commercial projects for 1 user.
        a.fk-price-cta(href='https://transactions.sendowl.com/products/77680374/F5D10D7B/purchase', rel='nofollow') Buy $49

      .fk-price-block.fk-price-block--team
        h3
          strong Team
        .fk-price-sub
          img.fk-icon-check.svg(src='assets/img/icon-check.svg', alt='check icon')
          h4 $199 for up to 5 users
        p Unlimited projects for up to 5 users in one organization.
        a.fk-price-cta(href='https://transactions.sendowl.com/products/77819369/5D65B594/purchase', rel='nofollow') Buy $199

    p.centered.enterprise Need more than 5 licenses? <a href="mailto:matt@mds.is">Contact us</a> for Enterprise options.