section.fk-decision
  .fk-container-content
    h2#buy
      strong Finely-tuned
      |  for individuals and teams
    
    .fk-tiers#tiers

      .fk-price-block.fk-price-block--tiny
        h3 Tiny
        .fk-price-sub
          h4 $29
        ul
          li Tiny Flowkit library
          li <code>.sketch</code> <code>.fig</code> <code>.xd</code>
          li Unlimited projects
          li 1 user
        p.fk-note Note: This tier does not include the Full Library or a Figma plugin license
        a.fk-price-cta(href='https://transactions.sendowl.com/products/78145492/C472C075/purchase') Buy
        a.fk-cta-text(href="/preview#tiny") Preview file

      .fk-price-block.fk-price-block--pro
        h3 Pro
        .fk-price-sub
          h4 $49
        ul
          li Full Flowkit library
          li <code>.sketch</code> <code>.fig</code> <code>.xd</code>
          li Figma plugin access
          li 1 year of updates
          li Unlimited projects
          li 1 <a href="/license">license</a>
        a.fk-price-cta(href='https://transactions.sendowl.com/products/78106361/61E63D85/purchase', rel='nofollow') Buy
        a.fk-cta-text(href="/preview") Preview file

      .fk-price-block.fk-price-block--team
        h3 Team
        .fk-price-sub
          h4 $199
        ul
          li Full Flowkit library
          li <code>.sketch</code> <code>.fig</code> <code>.xd</code>
          li Figma plugin access
          li 1 year of updates
          li Unlimited projects
          li 5 <a href="/license">licenses</a>
        a.fk-price-cta(href='https://transactions.sendowl.com/products/78142269/33D443C0/purchase', rel='nofollow') Buy
        a.fk-cta-text(href="/volume") Need more than 5?

    .fk-body-text#buy
      p.centered.fk-note Upon purchase you'll receive a link to download your <code>.zip</code> file containing <code>.sketch</code>, <code>.fig</code>, and <code>.xd</code> files—as well as your Figma plugin license key. <br><br>🏫 Student or Teacher? <a class="fk-cta-text" href="/education">Get an educational discount</a>.      
