section.fk-tiny
  .fk-container-content
    h2#tiny <strong>Tiny</strong> flow components now included for annotating subtle details

    .fk-tiny-group
      
      <video autoplay loop>
        <source src="assets/img/tiny-loop-4.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>  

      img.fk-tiny-annotation(alt='tiny detail', src='assets/img/tiny-details.svg')




      