section.fk-tiny
	.fk-container-content
		h2#tiny <strong>Tiny</strong> flow components now included for annotating subtle details

		.fk-tiny-group

			.fk-tiny-video
				<video id="fk-video-tiny" autoplay loop>
					<source src="assets/img/tiny-loop.mp4" type="video/mp4">
				</video>  

			img.fk-tiny-annotation(alt='tiny detail', src='assets/img/tiny-details.svg')




			