.fk-tweet-group.fk-tweet-group-snippet

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1095887975781670912/bHjpwZem_reasonably_small.png";
  - tweetName   ="ZEIT";
  - tweetHandle ="@zeithq";
  - tweet       ="Flowkit helps you create fast user flows within @sketch and @figmadesign. Learn how @mds was able to effortlessly launch Flowkit to thousands of designers worldwide with ZEIT Now.";
  - tweetURL    ="https://twitter.com/zeithq/status/1158820337523384320";
  include tweet.pug
  
  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1151395086770458624/pRJtEGYJ_bigger.jpg";
  - tweetName   ="Jad Limcaco";
  - tweetHandle ="@jadlimcaco";
  - tweet       ="Just purchased Flowkit from @mds. Go do the same. Never have to draw those snake lines and arrows for user flows again. 🙌👍";
  - tweetURL    ="https://twitter.com/jadlimcaco/status/931248845085843456";
  include tweet.pug
  
  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/639215262370131968/WuKnrHWI_bigger.jpg";
  - tweetName   ="Joel Beukelman";
  - tweetHandle ="@_bklmn";
  - tweet       ="I can’t stop clicking. Also, go purchase Flowkit & follow @mds…you prob already do.";
  - tweetURL    ="https://twitter.com/_bklmn/status/936011437289324545";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/917922465099145216/RFOY5XP7_bigger.jpg";
  - tweetName   ="Sonali Agrawal";
  - tweetHandle ="@sonaliagrawal";
  - tweet       ="🔥 I just bought this kiiiiiilller Sketch Flowkit by @mds";
  - tweetURL    ="https://twitter.com/sonaliagrawal/status/935553851717029888";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/821035343629561856/Cq7vNcSN_bigger.jpg";
  - tweetName   ="Erik D. Kennedy";
  - tweetHandle ="@erikdkennedy";
  - tweet       ="Flowkit by @mds is the arrows functionality Sketch should've shipped with. Brilliant stuff.";
  - tweetURL    ="https://twitter.com/erikdkennedy/status/948671139873619968";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/975884305313406977/ycZa8E9-_bigger.jpg";
  - tweetName   ="Charlie Waite";
  - tweetHandle ="@charliecwaite";
  - tweet       ="This is so good @mds useflowkit.com 👍 #tinybeerscheers";
  - tweetURL    ="https://twitter.com/charliecwaite/status/931304078801453057";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/660859113094561792/eyX7OiI7_bigger.png";
  - tweetName   ="Veerle Pieters";
  - tweetHandle ="@vpieters";
  - tweet       ="Flowkit is a completely reusable Sketch library with over 200 symbols that you can summon for every new project, and feel confident that every variation of tap, flow, and UX blurb is covered.";
  - tweetURL    ="https://twitter.com/vpieters/status/946738649340743680";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1180997106695315457/pOfpoZfc_bigger.jpg";
  - tweetName   ="Jeff H";
  - tweetHandle ="@IsThatJeff";
  - tweet       ="Forgot to send a shoutout to @mds and Flowkit. Saved me on a deadline right before Thanksgiving...would've taken me triple the time without it. AND it's incredibly extendable as you can see.";
  - tweetURL    ="https://twitter.com/IsThatJeff/status/934850756192227328";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/859072601641148416/7XPpoJDQ_bigger.jpg";
  - tweetName   ="Cliff Seal";
  - tweetHandle ="@cliffseal";
  - tweet       ="An order of things: 1. @mds releases a new thing. 2. Everyone at @SalesforceUX talks about it in Slack. 3. I talk about how much I ❤️ @mds. Today’s step #1: useflowkit.com";
  - tweetURL    ="https://twitter.com/cliffseal/status/931625845650870273";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/943530975669125120/S3hjz4Ra_bigger.jpg";
  - tweetName   ="Nick Reynolds";
  - tweetHandle ="@Nick__Reynolds";
  - tweet       ="Been using Sketch FlowKit for a day now and it's doubled my UX flow production speed. How nerdy can a tweet get! Go buy it and be just as nerdy!";
  - tweetURL    ="https://twitter.com/Nick__Reynolds/status/969592980574269440";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1188541192130236417/583GgCK9_bigger.jpg";
  - tweetName   ="Startup Weekend Charleston";
  - tweetHandle ="@SWCharleston";
  - tweet       ="Flowkit for @Sketchapp, by @mds, has GOT TO BE in your Sketch toolbox for designing User Flows. Get it here useflowkit.com";
  - tweetURL    ="https://twitter.com/SWCharleston/status/931256845666258945";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1122233638442143744/62rkxWbv_bigger.jpg";
  - tweetName   ="Jason";
  - tweetHandle ="@fnkick";
  - tweet       ="Just bought this great Sketch Flowkit by @mds—look forward to the time-savings!";
  - tweetURL    ="https://twitter.com/fnkick/status/934088272426536961";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1179144491858444289/CEZdo92m_bigger.jpg";
  - tweetName   ="Greg Becker";
  - tweetHandle ="@gregbecker";
  - tweet       ="Picking up this little gem for @eBay Design today. Go get it...Matt is a beast. @mds";
  - tweetURL    ="https://twitter.com/gregbecker/status/964608959251230720";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1034100718368509952/qYkphooz_bigger.jpg";
  - tweetName   ="Kris Puckett";
  - tweetHandle ="@krispuckett";
  - tweet       ="🔥 All of the excitement for buying and using Sketch Flowkit by @mds";
  - tweetURL    ="https://twitter.com/krispuckett/status/935191583611326464";
  include tweet.pug

  //- tweet 
  - tweetAvatar ="https://pbs.twimg.com/profile_images/728457605589303297/WPfI9Yf3_bigger.jpg";
  - tweetName   ="Nate Shevlin";
  - tweetHandle ="@NateShevlin";
  - tweet       ="Just bought this sweet Sketch Flowkit by @mds http://sketchflowkit.com Excited to save some serious time creating logic flows. 🔥";
  - tweetURL    ="https://twitter.com/NateShevlin/status/932519375558422533";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1190086281818189825/vI3wmE9k_bigger.jpg";
  - tweetName   ="Kevin Clark";
  - tweetHandle ="@vernalkick";
  - tweet       ="Flowkit by @mds is a great way to quickly mock up user flows in Sketch. Make sure to check out the video! ";
  - tweetURL    ="https://twitter.com/vernalkick/status/931600894700937216";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/654352244658339841/g4juANU8_bigger.jpg";
  - tweetName   ="Arantxa Vizcarro";
  - tweetHandle ="@ArantxaVizcarro";
  - tweet       ="Flowkit for Sketch!! Bonito y rápido! ;) #design #process #flow #life #megalike #good Gracias @angelcreative!!";
  - tweetURL    ="https://twitter.com/ArantxaVizcarro/status/931501374877130752";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1179403311541358600/ptNLojZ3_bigger.jpg";
  - tweetName   ="Zen Lara";
  - tweetHandle ="@tobamese";
  - tweet       ="I just bought Flowkit 2.0 for Figma and Sketch by @mds. This is gonna save so much time when I need to make user flows.👌 https://useflowkit.com";
  - tweetURL    ="https://twitter.com/tobamese/status/1059557940078829568";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1106803746942509056/DqKx88dd_bigger.jpg";
  - tweetName   ="Kamal Nayan";
  - tweetHandle ="@kns008";
  - tweet       ="Flowkit by @mds is a delightful utility. How much do I love these thoughtful little things that aren't trying to 'change the world' but do what they are supposed to do.";
  - tweetURL    ="https://twitter.com/kns008/status/1148607775322324992";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1041716351541239808/2NZVbE0D_bigger.jpg";
  - tweetName   ="Abigail Readey";
  - tweetHandle ="@readeyful";
  - tweet       ="Stoked to try out @mds flow and annotation tool. 🤙 If anyone has any favorite processes on how to best communicate designs to developers and clients I'd love to hear them!  https://useflowkit.com";
  - tweetURL    ="https://twitter.com/readeyful/status/1136669995398656000";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/959238184176668672/PIkTlWqH_bigger.jpg";
  - tweetName   ="James Ledford";
  - tweetHandle ="@jamesledford";
  - tweet       ="Flowkit 2.0 by @mds just launched. Now in native @figmadesign ! You need this ... get it now—https://useflowkit.com";
  - tweetURL    ="https://twitter.com/jamesledford/status/1059465140893110272";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1003373705874034688/OzTDyaJl_bigger.jpg";
  - tweetName   ="Jess";
  - tweetHandle ="@JesJiang";
  - tweet       ="Designing flows all day everyday with @mds Flowkit! Best flow tool for designing in sketch. #uxui #design";
  - tweetURL    ="https://twitter.com/JesJiang/status/1138480398936281088";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1090742911430463490/NM_sLAxG_bigger.jpg";
  - tweetName   ="Dan";
  - tweetHandle ="@Betraydan";
  - tweet       ="🔥💎🔥 Sketch flow kit by @mds this is super useful. https://sketchflowkit.com/  #design #sketch #flow";
  - tweetURL    ="https://twitter.com/Betraydan/status/931266586689851392";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1063167258774642688/Z_y4TMVZ_bigger.jpg";
  - tweetName   ="Dominic";
  - tweetHandle ="@domenico_loia";
  - tweet       ="Awesome work by @mds on this kit, super useful ✨⚡️ useflowkit.com";
  - tweetURL    ="https://twitter.com/domenico_loia/status/931290676595015680";
  include tweet.pug
  
  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/1082536180074217473/ewWhmKgi_bigger.jpg";
  - tweetName   ="Chris Messina";
  - tweetHandle ="@chrismessina";
  - tweet       ="This is super dope for anyone that designs UI flows in @sketchapp!";
  - tweetURL    ="https://twitter.com/chrismessina/status/931606268510220289";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/819688916538327041/e90aYVTj_reasonably_small.jpg";
  - tweetName   ="Luke Chen";
  - tweetHandle ="@LukeChen_UX";
  - tweet       ="Flowkit still rocks. I have created several diagrams using FlowKits. Kudos to the person behind: @mds! https://useflowkit.com";
  - tweetURL    ="https://twitter.com/LukeChen_UX/status/1160308780044828672";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="https://pbs.twimg.com/profile_images/856378894240301056/0hasRBqe_bigger.jpg";
  - tweetName   ="Joshwin Greene";
  - tweetHandle ="@Josh_w_G";
  - tweet       ="🔥 I just bought this kiiiiiilller Sketch Flowkit by @mds";
  - tweetURL    ="https://twitter.com/Josh_w_G/status/934081519991234561";
  include tweet.pug



  

  