.fk-tweet-group.fk-tweet-group-snippet
  //- tweet 
  - tweetAvatar  ="/assets/img/avatars/avatar-dropbox.png";
  - tweetName   ="Dropbox Design";
  - tweetHandle ="@dropboxdesign";
  - tweet       ="Flowkit - new @sketchapp library for user flows, content maps, screen annotations, and more—made by @mds";
  - tweetURL    ="https://twitter.com/DropboxDesign/status/931945129107214337?ref_src=twsrc%5Etfw";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="/assets/img/avatars/avatar-zack.jpg";
  - tweetName   ="Zack Onisko";
  - tweetHandle ="@zack415";
  - tweet       ="The @Dribbble team just all got set up with the new Flowkit for @figmadesign. Such a rad library!";
  - tweetURL    ="https://twitter.com/zack415/status/1059520215686438912?ref_src=twsrc%5Etfw";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="/assets/img/avatars/avatar-danmall.jpg";
  - tweetName   ="Dan Mall";
  - tweetHandle ="@danmall";
  - tweet       ="Props to my man @mds for making Flowkit so easy to use to make diagrams...";
  - tweetURL    ="https://twitter.com/danmall/status/1115991384408899585";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="/assets/img/avatars/avatar-kristie-clementine.jpg";
  - tweetName   ="Kristie Clementine";
  - tweetHandle ="@kristirspbrry";
  - tweet       ="I just bought Flowkit 2.0 for Figma and Sketch by @mds. This is gonna save so much time when I need to make user flows.👌 https://useflowkit.com";
  - tweetURL    ="https://twitter.com/kristirspbrry/status/1130487995986001920";
  include tweet.pug

  //- tweet 
  - tweetAvatar  ="/assets/img/avatars/avatar-rolando.jpg";
  - tweetName   ="Rolando Mathis";
  - tweetHandle ="@rolomathias";
  - tweet       ="Had the privilege of trying Flowkit a few days ago, and it was 🔥. Exceeded expectations. This lowers the barrier to making informative flows.";
  - tweetURL    ="https://twitter.com/rolomathias/status/1059433903721721856";
  include tweet.pug