section.fk-video-demo

	.fk-video-group-content
		h2 Works where <strong>you work</strong>
		p Flowkit was uniquely designed for <code>Figma</code>, <code>Sketch</code>, and <code>XD</code> using best practices and workflows for each individual platform.
		.fk-video-controls
			ul
				li: a.fk-video-control.fk-video-control-figma.is-active(href="#figma-video"): img(src="assets/img/icon-figma.svg")
				li: a.fk-video-control.fk-video-control-sketch(href="#sketch-video"): img(src="assets/img/icon-sketch.svg")
				li: a.fk-video-control.fk-video-control-xd(href="#xd-video"): img(src="assets/img/icon-xd.svg")

	.fk-video-group
		<video id="player" poster="assets/img/poster-figma.png" crossorigin playsinline>
			<source src="assets/video/video-example-figma.mp4" type="video/mp4" />
		</video>

		.is-hidden
			<video>
				<source src="assets/video/video-example-sketch.mp4" poster="assets/img/poster-sketch.png" type="video/mp4" />
			</video>

			<video>
				<source src="assets/video/video-example-xd.mp4" poster="assets/img/poster-xd.png" type="video/mp4" />
			</video>
