extends ../includes/layout.pug

block head
  title Flowkit – Figma Plugin

block content
  body
    .fk-container

      - var headerTitle = " ";
      include ../includes/header-interior.pug

      section.fk-main
        .fk-container-content.fk-container-content--body

          h1 Free Trial?
          p.fk-intro 😢 Sadly, there is no free version to try. I've thought about this a lot and even attempted to create a few files that would be <strong>free trial worthy</strong>, but in the end couldn't come up with a proper solution.

          p If I were to have a file that only contained a few pieces to play around with, you wouldn't really get the full experience of using Flowkit and that would have a negative and effect on your perceived value of the product itself.

          p I can't send the entire file to try out, because that would be giving it away for free and there's no way to <strong>take back</strong> a digital file.

          p You can <a href="/preview">preview all of the files here</a> and look under the hood to see everything that's included, you just can't actually use them.

          p I can say though, if you're curious to try it out, go ahead and buy it. It has saved me tons of time creating flows and I have a lot of testimonials from other customers who concur.

          p If you decide to <a href="/#buy">buy Flowkit</a> and just don't like it—let me know—and I will be happy to give you a 100% refund for your purchase.

    

    include ../includes/foot.pug


