extends ../includes/layout.pug

block head
  title Thanks for buying Flowkit!

block content
  body
    .fk-container

      - var headerTitle = "";
      <style> .fk-cta-group { display: none; !important }</style>
      include ../includes/header-interior.pug

      section.fk-main
        .fk-container-content.fk-container-content--body

          h1 Woohoo!

          p.fk-intro <strong>Check your email for your order.</strong> Please note, the download link and license are sent automatically via Sendowl, once payment is processed. PayPal tends to take slightly longer than credit cards. 

          p <code>The charge will appear on your statement from Studio MDS, LLC.</code>

          br
          p: a(href="https://twitter.com/intent/tweet?text=Just+picked+up+Flowkit+3.0.+Love+the+idea+of+creating+flows+inside+of+my+design+tool+of+choice.+♥️+https://useflowkit.com") &rarr; Tweet about it


    include ../includes/foot.pug
