extends ../includes/layout.pug

block head
  title Flowkit – User Flow Library for Figma and Sketch

block content
  body#fk-eula
    .fk-container
      - var headerTitle = " ";
      <style> .fk-cta-group { display: none; !important }</style>
      include ../includes/header-interior.pug

      section.fk-main
        .fk-container-content.fk-container-content--body
          h1 =(

          p.fk-intro Something terrible happened. This page isn't here. But if you really hammer out the defintion of "terrible" this is more like a minor inconvenience and not too terrible after all. I hope you find what you're looking for. Maybe <a href="/">go home</a>?

      include ../includes/foot.pug
