.fk-container
  width: 100%
  // max-width: 83rem
  margin: auto

  +medium
    padding: 0 4em

  // +xlarge
  //   padding: 0 12rem

.fk-container-content
  padding: 1.25em
  max-width: 80rem
  margin: auto

  &--body
    max-width: 48rem !important

  li
    font-size: .75em
    margin-bottom: .5rem
    list-style-type: disc
    margin-left: 1.25rem

    +large
      width: 75%
