.fk-testimonial-container
  display: grid
  grid-template-columns: 1fr
  align-items: center

  +medium
    grid-template-columns: 1fr 1fr

  & > div
    display: inline-block
    margin: auto

    +medium
      display: block
      margin: 0

.fk-testimonial
  padding: 2rem 1rem

  +large
    padding: 1rem 1rem 2rem

.fk-testimonial img
  width: 2.625rem
  height: 2.625rem
  border-radius: 1rem
  text-align: center
  display: block
  margin: auto

  +medium
    display: inline-block
    text-align: left
    float: left
    margin: 0 3rem 3rem 0
    margin-right: 5rem

.fk-testimonial h3
  font-weight: 800
  font-size: 1rem
  line-height: 1.2
  padding: 1rem 0 .25rem
  position: relative
  display: block
  text-align: center

  +medium
    text-align: left

  &:before
    content: ""
    display: none
    width: 1rem
    height: 2px
    background: $color-dark
    position: absolute
    top: calc(50% + .25rem)
    transform: translateY(-50%)
    left: 4rem

    +medium
      display: block
      left: 4rem
      width: 3rem

.fk-testimonial p
  font-size: .75rem
  text-indent: .5rem
  text-align: center

  a
    font-weight: 800

  +medium
    text-align: left

ul.fk-logos
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-gap: 0
  padding: 0 0 6rem
  margin: auto
  max-width: 72rem
  list-style-type: none

  li
    text-align: center
    padding: 0
    +easeall

    img, svg
      width: 100%
      text-align: center
      margin: auto

    &:hover
      transform: scale(1.05)
      +easeall
