// mds
$color-mds: #222

// hex
$color-black: black
$color-white: white

// flow
$color-flow-default: #006DFF
$color-flow-alt: #EF0055

// desaturated
$color-dark: #111133
$color-dark-2: #666667
$color-medium: #8b969d
$color-medium-small: #647989
$color-light: #f7f7f7

// saturated
$color-blue: #3399EE
$color-blue-small: #047CBD
$color-orange: #FF8600
$color-red: #FF5E4F
$color-mustard: #FFBC51
$color-eggplant: #160066
$color-purple: #9b45d7

// p3 experimental colors
$color-blue-p3: color(display-p3 .2 .6 1.0)
$color-orange-p3: color(display-p3 1.0 .5 .1)
$color-red-p3: color(display-p3 1.0 .4 .35)
$color-mustard-p3: color(display-p3 1.0 .7 .1)



