extends ../includes/layout.pug

block head
  title Flowkit – User Flow Library for Figma and Sketch

block content
  body#fk-eula
    .fk-container
      - var headerTitle = " ";
      include ../includes/header-interior.pug

      section.fk-main
        .fk-container-content.fk-container-content--body
          h1 License
          p.fk-intro The Flowkit license works like Sketch's licensing works—you pay once and have that version forever, plus access to any bug fixes or updates for at least a year. For even nerdier details keep reading.

          h4 How long does my Flowkit license last?
          p Your license is valid for a year from the date you purchase it. For example, if you purchase your license on <code class="fk-license-date">1 January, 2020</code> you’ll be eligible to receive updates to Flowkit until <code class="fk-license-date-plus-year">1 January, 2021</code>. To receive updates after that date, you’ll need to renew your license.

          h4 What happens if I don’t renew my license?
          p If you don’t want to renew your license after it expires, you can continue to use the version of Flowkit that you have, for as long as you want, but you won’t be able to receive any further updates. If you'd like to renew your license at a later date, you can do that at anytime.

          h4 Where can I find the End User License Agreement (EULA)?
          p You can read the Flowkit End User License Agreement <a href="/eula">here</a>, which is a legal contract between the digital author and the user of that application.

          h4 I lost my license and access to my files, can you help me out?
          p Absolutely. Send an email to <code>matt@mds.is</code> with your Order # or the email you used to purchase and I can hook you up!

      include ../includes/foot.pug
